:root {
  --turquoise: #00EFE1;
  --mid-turquoise: #14D5C9;
  --dark-turquoise: #00333F;
  --black: #030416;
  --white: #F1F1F1;
  --grey: #D6E2E7;
  --dark-grey: #7F8A8E;
  --yellow: #F9C51A;
  --orange: #FF5C00;
  --fuschia: #E80352;
  --blue: #338FFF;
  --blue-dark: #145CB3;
  --purple: #CDA2FF;
  --green: #00EF7C;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}
/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: var(--color);
  background-color: var(--background);
}
.App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
}
.App.light {
  --color: var(--black);
  --background: var(--white);
  --primary: var(--mid-turquoise);
}
section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* buttons */
button {
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
}
button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}
button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}
button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}
button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}
/* links */
a {
  color: var(--color);
  border-bottom: 1px solid var(--color);
  text-decoration: none;
}
a:hover {
  background-color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
/* header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  color: var(--turquoise);
  font-size: 1.25em;
  font-family: Helvetica;
  margin-right: 0.5rem;
}
/* forms */
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid var(--dark-turquoise);
  padding: 1.75rem;
}
.form h3 {
  margin-bottom: 1rem;
}
input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid var(--color);
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--primary);
}
.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
}
/* Filter */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.filter button {
  margin: 0 1rem;
}
/* cards */
.cards {
  margin: 0 auto;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
.card {
  max-width: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 2px solid var(--dark-turquoise);
}
@media screen and (max-width: 588px) {
  .card {
    display: block;
    max-width: inherit;
  }
}
.card .image {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.card .image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.card .image .claps {
  color: transparent;
  text-shadow: 0 0 0 var(--turquoise);
  position: absolute;
  top: 10px;
  right: 10px;
}
.card .image .claps:focus,
.card .image .claps:hover {
  color: transparent;
  text-shadow: 0 0 0 var(--color);
}
.card .details {
  margin: 0.5rem;
}
.card .details h4 {
  margin: 0.5rem 0;
}
.card .details p {
  margin: 0.5rem 0;
}
.card .extra {
  margin-top: auto;
}
.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem;
}
.badge.blue {
  background-color: var(--blue);
  border: 2px solid var(--blue-dark);
  color: var(--white);
}
