@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  background: rgb(193, 243, 193);
}

#welcome {
  margin-left: 75px;
}

@counter-style thumbs {
  system: cyclic;
  symbols: "\1F999";
  suffix: " ";
}

ul {
  list-style-type: thumbs;
}

#poke-form-container {
  margin: 15px;
  padding: 15px;
}

#poke-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px 20px;
}

#header {
  text-align: center;
  margin: 0 auto;
}

#title {
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
    -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}

img {
  height: 100px;
  width: 100px;
}

#header-img {
  height: 175px;
  width: 550px;
}

.poke-card {
  border: solid;
  border-color: #ffcb05;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px;
  float: left;
  text-align: center;
  width: 100px;
  height: 275px;
}

.poke-card:hover {
  box-shadow: 0 8px 16px 0 rgba(90, 4, 4, 0.685);
}

#poke-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"]:not(.edit-input) {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  background-color: #4c6de4;
  color: #f6dc78;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f6dc78;
  color: #4c6de4;
}

label {
  color: rgb(83, 79, 79);
  width: 150px;
  margin-left: 15px;
}

#poke-form-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.like-btn {
  color: red;
  font-size: larger;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #9db0f4;
}

.like-btn:hover {
  color: white;
  background-color: red;
}

.delete-btn {
  color: red;
  font-size: medium;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #9db0f4;
}

.delete-btn:hover {
  background-color: black;
  color: white;
}
